@import "styles/variables.scss";

.form {
}
.form__input {
  @extend %input;
}
.form__submit {
  display: block;
  margin: 25px auto 0;
  @extend %btn;
  @media screen and (max-width: 768px) {
    margin: 25px 0 0;
  }
}
.form__title {
}
