@import "styles/variables.scss";

.message__headline {
  color: $blue;
  font-size: 22px;
  margin: 0;
}
.message__headline-wrapper {
  margin: 20px 0 -5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
